/* === === === === === === */
@mixin fontMessiri ($size, $weight) {
    font-family: 'El Messiri', sans-serif;
    font-size: $size;
    font-weight: $weight;
}

@mixin fontRoboto ($size, $weight) {
    font-family: 'Roboto', sans-serif;
    font-size: $size;
    font-weight: $weight;
}