// element color
$salat: #7DA00C;
$text: #4A4A4A;
$gray: #949494;
$meet: #D73A31;
$east: #E67F10;
$italian: #009246;
$gradient: linear-gradient(320.69deg, #536614 15.36%, #97C20B 84.86%);

// auxiliary colors
$white: #FFFFFF;
$salat-light: #BFD087;